@font-face {
    font-family: 'Arial';
    src: local('Arial Italic'), local('Arial-Italic'),
        url('Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

body {
    font-family: Roboto;
}

section {
    margin: 0 auto;    
    width: 1440px;
    min-height: 900px;
}

.market__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "t t"
                         "c p";
    column-gap: 10px;
    padding: 50px 150px 80px 150px;
}

.title {

    color: #acacac;
    font-size: 106px;
    font-family: Roboto;
    font-weight: 900;
    /* font-family: "Arial"; */
}

.market__title {
    grid-area: t;
    margin-bottom: 250px;
}

.market__common, .market__potential {
    font-size: 66px;
    font-weight: 900;
}

.market__common span, .market__potential span {
    font-size: 24px;
}

.market__common {
    grid-area: c;
}

.market__potential {
    grid-area: p;
}

label {
    font-family: Arial;
    font-size: 20px;
}

.market footer {
    background-color: #e0e0e0;
    padding: 85px 150px;
    display: flex;
    gap: 200px;
}
.footer__target, .numbers__target {
    font-size: 90px;
    font-weight: 900;
}
.footer__target span, .numbers__target span {
    font-size: 24px;
}

.footer__right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.years {
    font-size: 30px;
    font-family: "Arial";
    font-weight: 900;
}
.long-target {
    font-size: 20px;
    font-family: "Arial";
    font-weight: 500;

}
.who {
    /* margin-top: 30px; */
    padding: 45px 150px 100px 150px;
    position: relative;
    overflow: hidden;
    /* margin-bottom: 100px; */
}
.who::after {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    /* background-color: rgb(203, 44, 0); */
    border: 170px solid rgb(194, 45, 0);
    bottom: 0;
    right: 0;
    transform: translate(50%, 60%);
}

.who__nav {
    margin-top: 40px;
}
.who__links {
    display: flex;
    gap: 20px
}
.who__link {
    font-size: 32px;
    font-weight: 700;
}
.who__descr {
    margin-top: 194px;
}
.who__descr p {
    font-size: 30px;
    font-weight: normal;
    max-width: 77%;
    margin-top: 38px;
}
.numbers {
    padding: 45px 150px 100px 150px;
    position: relative;
}

.numbers__main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 80px;
    margin-top: 63px;
}
.numbers__article {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.numers__aside {
    float: left;
    background-color: #e0e0e0;
    padding: 145px 20px 0px 120px;
    position: absolute;
    top: 420px;
    left: 49%;
    width: 900px;

    height: 500px;
}
.numbers__title_sm {
    font-size: 30px;
}
.numbers__descr {
    font-size: 20px;
    line-height: 25px;
    max-width: 100%;
}
.empty {
    pad: 0;
    height: 0;
    width: 0;
}
.title_mini {
    font-size: 24px;
    margin-bottom: 28px;
}
.years {
    font-size: 20px;
    margin-top: -10px;
}
.eco {
    padding: 45px 150px 0px 100px;
}
.eco__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px 0px 0px 55px;
}
.eco__aside {
    padding: 50px;
    background-color: #e0e0e0;
}
.eco__nav ul {
    list-style: none;

}
.user, .tap {
    font-size: 26px;
    flex-shrink: 1;
    position: relative;
}
.user::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    transform: translate(25%, 45%);
    border: 50px solid #174b9f;
}
.tap::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-150%, 0%);
    background-color: #174b9f;
}
.eco__item {
    font-size: 22px;
    margin-bottom: 15px;

}
